<h1>Home controller template.</h1>
        <div class="container_12">
            <ul ng-repeat="stream in streams">
                <li>
                    <div class="containerHeader containerRow">
                        <div class="grid_3 alpha">
                            <h2 class="sectionTitle">
                                {{stream.streamName}}
                            </h2>
                        </div>
                        <div class="grid_1 omega">
                            <div class="statusContainer">
                                <div data-species-summary species="stream.speciesSummary"></div>
                                <span class="statusText">Stuff</span>
                            </div>
                        </div>
                    </div><!-- end .containerHeader -->

                    <div data-stream-line stream="stream"></div> 

                    <div class="containerFooter containerRow">
                        <!--data-ng-if="stream.restrictionSegments == null || stream.restrictionSegments.length === 0"-->
                        <div class="grid_3 alpha">
                            <ul class="restrictions" data-ng-repeat="restriction in stream.restrictionSegments">
                                <li data-restriction-legend restriction="restriction"></li>
                            </ul>
                        </div>
                        <div class="grid_1 omega">
                            <div class="fractionContainer">
                                <span class="numerator">{{stream.publiclyAccessibleLength}}</span>
                                /
                                <span class="denominator">{{stream.streamLength}}</span>
                            </div>
                        </div>
                    </div><!-- end .containerFooter -->
                </li>
            </ul>
        </div>

