<div height="12" width="292">
    <svg class="js-stream-line" width="292" height="20">
        <g class="js-stream-line_restriction" data-ng-repeat="segment in stream.restrictionSegments">
            <g data-ng-repeat="section in segment.restrictionSections">
                <rect ng-attr-x="{{section.start * 292}}"
                      y="4"
                      ng-attr-width="{{(section.stop * 292) - (section.start * 292)}}"
                      height="11"
                      rx="4"
                      ry="4"
                      class="public-land">
                </rect>
            </g>
        </g>
    </svg>
    <!--<img src="assets/images/stream-line.png" height="12" width="292" alt="" />-->
</div>